<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/bower_components/cryptojslib/rollups/pbkdf2.js"></script>
    <script src="/bower_components/cryptojslib/components/pbkdf2-min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title><%= title %></title>

    <style>
    .bg-1 {
      background-color: grey;
      color: #ffffff;
    }
    .container-fluid {
      padding-top: 70px;
      padding-botton: 70px;
    }
    body {
    font: 20px "Monsterrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    }
    .margin {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    </style>
  </head>
  <body class="bg-1">
